{{extend 'base_form.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="thumbnail">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Queixa</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="queixa" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">HPMA</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="hpma" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>ISDA: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cardiovascular :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cardiovascular_ISDA" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Gastrointestinal :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="gastrointestinal_ISDA" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Urinario :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="urinario_ISDA" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Respiratorio :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="respiratorio_ISDA" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>


	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AF: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cardiovascular :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cardiovascular_AF" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-3">Endócrino/Metabólico :</label>
						<div class="col-sm-9">
							<input class="form-control string" name="endocrino_metabolico_AF" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cancer :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cancer_AF" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Infecção :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="infeccao_AF" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Outros :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="outros_AF" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AP: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Clinicos :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="clinicos_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cirurgias :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cirurgias_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Tabagismo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="tabagismo_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Etilismo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="etilismo_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Medicacao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="medicacao_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Outros :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="outros_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AM: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-1">Menarca :</label>
						<div class="col-sm-3">
							<input class="form-control string" name="menarca_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">Ciclos :</label>
						<div class="col-sm-3">
							<input class="form-control string" name="ciclos_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">dum :</label>
						<div class="col-sm-3">
							<input class="form-control string" name="dum_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Dismenorreia :</label>
						<div class="col-sm-6">
							<input class="form-control string" name="dismenorreia_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">tpm :</label>
						<div class="col-sm-3">
							<input class="form-control string" name="tpm_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Menopausa</label>
						<label class="radio-inline">
							<input  name="menopausa_AM" type="radio" value="Natural" /> Natural
							<span class="help-block"></span>
						</label>
						<label class="radio-inline">
							<input name="menopausa_AM" type="radio" value="Cirúrgica" /> Cirúrgica
							<span class="help-block"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AS: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Primeiro Coito :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="primeiro_coito_AS" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-2">Numero Parceiros :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="numero_parceiros_AS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Libido :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="libido_AS" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-2">Orgasmos :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="orgasmos_AS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Anticoncepcao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="anticoncepcao_AS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AG: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Corrimento :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="corrimento_AG" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-2">Cirurgia :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="cirurgia_AG" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cauterizacao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cauterizacao_AG" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>AO: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-1">G :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="g_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">P :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="p_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">A :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="a_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">PNL :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="PNL_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">PC :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="pc_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">PF :</label>
						<div class="col-sm-1">
							<input class="form-control string" name="pf_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				Falta
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>EXAME: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-1">Peso :</label>
						<div class="col-sm-2">
							<input class="form-control string" name="peso_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">Alt :</label>
						<div class="col-sm-2">
							<input class="form-control string" name="alt_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">PA :</label>
						<div class="col-sm-2">
							<input class="form-control string" name="pa_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-1">IMC :</label>
						<div class="col-sm-2">
							<input class="form-control string" name="imc_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Ap cardiovascular :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="ap_cardiovascular_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-2">Ap respiratorio :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="ap_respiratorio_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Mmii :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="mmii_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
						<label class="control-label col-sm-2">Outros :</label>
						<div class="col-sm-4">
							<input class="form-control string" name="outros_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Abdome :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="abdome_EXAME" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>MAMAS: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Insp estatica :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="insp_estatica_MAMAS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Insp dinamica :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="insp_dinamica_MAMAS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Palpacao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="palpacao_MAMAS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Expressao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="expressao_MAMAS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Axilas :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="axilas_MAMAS" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>OGE: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Pilificacao :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="pilificacao_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Labios :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="labios_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Clitoris :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="clitoris_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Ureta :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="ureta_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Gl bartholin :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="gl_bartholin_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Himen :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="himen_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Procidencia PVA :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="procidencia_pva_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Procidencia PVP :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="procidencia_pvp_OGE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Perineo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="perineo" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Perda urina :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="perda_urina" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>OGI TOQUE: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Vagina :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="vagina_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Colo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="colo_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Utero :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="utero_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">AN D :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="an_d_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">NA E :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="na_e_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Parametrios :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="parametrios_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Reto :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="reto_OGI_TOQUE" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>ESPECULAR: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Vagina :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="vagina_ESPECULAR" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Colo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="colo_ESPECULAR" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Cont vaginal :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="cont_vaginal_ESPECULAR" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- //////////////////////////////////////////////////////////////////////////////////// -->
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-1">
				<p>OUTROS EXAMES: </p>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Tracao colo :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="tracao_colo_OUTROS_EXAMES" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Histerometria :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="histerometria_OUTROS_EXAMES" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Diagnostico clinico :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="diagnostico_clinico_OUTROS_EXAMES" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Exames solicitados :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="exames_solicitados_OUTROS_EXAMES" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Conduta :</label>
						<div class="col-sm-10">
							<input class="form-control string" name="conduta_OUTROS_EXAMES" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- campos até aqui -->
	<div class="row">
		<div class="form-group">
			<div class="col-sm-2">
				<input class="btn btn-primary" type="submit" value="Gravar informações" />
			</div>
		</div>
	</div>
	{{=form.hidden_fields()}}
</form>
