{{extend 'base_form.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="thumbnail">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Queixa</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="queixa" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">HPMA</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="hpma" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Antecedentes Familiares: </p>
			</div>
			{{itens = ['hipertensao_arterial_AF', 'diabetes_AF', 'cardiopatia_AF']}}
			{{for item in itens:}}
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AF','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			{{pass}}
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-6">
						<div class="col-sm-8">Cancer</div> 
						<div class="col-sm-4">
							<input class="boolean" name="cancer_AF" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					<div class="col-sm-6">
						<input class="form-control string" name="tipo_cancer_AF" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Antecedentes Pessois: </p>
			</div>
		</div>
		<div class="row">
			{{itens = ['neurologico_AP', 'cardiovasculares_AP', 'hipertensao_AP', 'flebites_AP', 'trombose_venosa_AP']}}
			{{for item in itens:}}
			<label class="control-label col-sm-6">
				<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
				<div class="col-sm-4">
					<input class="boolean" name="{{=item}}" type="checkbox" value="on">
					<span class="help-block"></span>
				</div>
			</label>
			{{pass}}
		</div>
		Falta um item
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<p>Endocrinopatias / metabólicas</p>
			</div>
			<div class="form-group">
				{{itens = ['diabetes_AP', 'tireoide_AP', 'outras_AP']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6">
					<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-4">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<p>Doenças gastro-intestinais</p>
			</div>
		</div>
		Falta
			<!-- {{itens = ['diabetes_AP', 'tireoide_AP', 'outras_AP']}}
			{{for item in itens:}}
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						</div>
					</label>
				</div>
			</div>
			{{pass}} -->
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<p>Doenças sexualmente transmissíveis</p>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group">
					{{itens = ['gonococcia_AP', 'sifilis_AP', 'hpv_AP', 'hiv_AP']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-12">
						<div class="col-sm-4">Outras:</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="outras_dst_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="form-group">
					{{itens = ['doencas_renais_AP', 'doencas_hematologicas_AP', 'anemia_AP', 'a_falciforme_AP']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-12">
						<div class="col-sm-4">Outras:</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="outras_doencas_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="form-group">
					{{itens = ['cancer_AP', 'cirurgias_anteriores_AP', 'alergias_AP', 'transfusao_AP']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<p>Medicação Atual</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					{{itens = ['tranquilizantes_AP', 'antidepressivos_AP', 'antibioticos_AP']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-8">{{=item.replace('_AP','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-12">
						<div class="col-sm-4">Outras:</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="outros_medicacao_atual_AP" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			<hr>
		</div>
		<hr>
		<div class="thumbnail">
			<div class="row">
				<div class="col-sm-12">
					<p> Antecedentes Menstruais: </p>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-1">Menarca:</label>
					<div class="col-sm-2">
						<input class="form-control string" name="menarca_AM" type="text" value="" />
						<span class="help-block"></span>
					</div>
					<label class="control-label col-sm-1">DUM:</label>
					<div class="col-sm-2">
						<input class="form-control string" name="dum_AM" type="text" value="" />
						<span class="help-block"></span>
					</div>
					<label class="control-label col-sm-3">
						<div class="col-sm-9">Dismenorréia:</div> 
						<div class="col-sm-3">
							<input class="boolean" name="dismenorreia_AM" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					<label class="control-label col-sm-3">
						<div class="col-sm-9">TPM:</div> 
						<div class="col-sm-3">
							<input class="boolean" name="tpm_AM" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-12">
						<div class="col-sm-4">Ciclo Mestrual:</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="ciclo_menstrual_AM" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
		</div>
		<hr>

		<div class="thumbnail">
			<div class="row">
				<div class="col-sm-12">
					<p> Antecedentes Obstétricos: </p>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					{{itens = ['gesta_AO', 'para_AO']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-4">{{=item.replace('_AO','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="{{=item}}" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<p> Abortamentos: </p>
				</div>
				<div class="form-group">
					{{itens = ['espontaneos_AO', 'provocados_AO', 'ultimo_aborto_AO', 'intercorrencias_AO']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-4">{{=item.replace('_AO','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="{{=item}}" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12">
					<p> Partos: </p>
				</div>
				<div class="form-group">
					{{itens = ['normais_AO', 'cesareas_AO', 'forcepes_AO', 'primeiro_parto_AO', 'ultimo_parto_AO']}}
					{{for item in itens:}}
					<label class="control-label col-sm-6">
						<div class="col-sm-4">{{=item.replace('_AO','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="{{=item}}" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-12">
						<div class="col-sm-4">Aleitamento:</div> 
						<div class="col-sm-8">
							<input class="form-control string" name="aleitamento_AO" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
		</div>
		<hr>
		<div class="thumbnail">
			<div class="row">
				<div class="col-sm-12">
					<p> História Sexual: </p>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-2">Idade da 1ª relação :</label>
					<div class="col-sm-10">
						<input class="form-control string" name="idade_primeira_relacao_HS" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-2">Nº parceiros </label>
					<label class="control-label col-sm-2">Durante o ano </label>
					<div class="col-sm-3">
						<input class="form-control string" name="durante_ano_HS" type="text" value="" />
						<span class="help-block"></span>
					</div>
					<label class="control-label col-sm-2">Ultimos meses </label>
					<div class="col-sm-3">
						<input class="form-control string" name="ultimos_meses_HS" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-4">Frequência de relações sexuais : </label>
					<div class="col-sm-8">
						<select class="generic-widget form-control" name="frequencia_relacoes_sexuais_HS">
							<option value=""></option>
							<option value="nenhuma">Nenhuma</option>
							<option value="1 relação semana">Uma por semana</option>
							<option value="2 relações semana">Duas por semana</option>
							<option value="3 - 5 relações semana">Três a Cinco por semana</option>
							<option value="5 relações semana">Mais que cinco por semana</option>
							<option value="eventual semana">Eventualmente</option>
						</select>
						<span class="help-block"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					{{itens = ['orgamos_HS', 'dispareunia_HS', 'alergias_AP', 'coito_anal_HS', 'tabagismo_HS', 'etilismo_HS']}}
					{{for item in itens:}}
					<label class="control-label col-sm-4">
						<div class="col-sm-8">{{=item.replace('_HS','').replace('_',' ').capitalize()}}</div> 
						<div class="col-sm-4">
							<input class="boolean" name="{{=item}}" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					{{pass}}
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-4">
						<div class="col-sm-8">Drogas</div> 
						<div class="col-sm-4">
							<input class="boolean" name="drogas_HS" type="checkbox" value="on">
							<span class="help-block"></span>
						</div>
					</label>
					<label class="control-label col-sm-2">Qual? </label>
					<div class="col-sm-2">
						<input class="form-control string" name="drogas_qual_HS" type="text" value="" />
						<span class="help-block"></span>
					</div>
					<label class="control-label col-sm-2">Injetável? </label>
					<div class="col-sm-2">
						<input class="form-control string" name="drogas_injetaveis_HS" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="thumbnail">
			<div class="row">
					<div class="col-sm-12">
						<p>Conhecimento / Atividades / Prática</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-3">
						<p class="text-center">Conhece algum método ?</p>
					</div>
					<div class="col-sm-4 col-sm-offset-1">
						<p class="text-center">Uso em algum momento</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
						Espontâneo
					</div>
					<div class="col-sm-3 ">
						Estimulado
					</div>
					<div class="col-sm-3 ">
						A vida
					</div>
				</div>
				{{itens = ['ritmo', 'diafragma', 'geleia', 'preservativo_masculino', 'camisinha_feminina', 'diu', 'pilula', 'injetavel', 'ligadura_tubaria', 'vasectomia' ]}}
				{{for item in itens:}}
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-12">
							<div class="col-sm-3">{{=item.replace('_',' ').capitalize()}}</div> 
							<div class="col-sm-3">
								<input class="boolean" name="{{=item}}_espontaneo_CAP" type="checkbox" value="on">
								<span class="help-block"></span>
							</div>
							<div class="col-sm-3">
								<input class="boolean" name="{{=item}}_estimulado_CAP" type="checkbox" value="on">
								<span class="help-block"></span>
							</div>
							<div class="col-sm-3">
								<input class="boolean" name="{{=item}}_uso_em_qualquer_momento_CAP" type="checkbox" value="on">
								<span class="help-block"></span>
							</div>
						</label>
					</div>
				</div>
				{{pass}}
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-2">Qual? </label>
							<div class="col-sm-4">
								<input class="form-control string" name="qual_CAP" type="text" value="" />
								<span class="help-block"></span>
							</div>
						</label>
						<label class="control-label col-sm-2">Quanto tempo? </label>
							<div class="col-sm-4">
								<input class="form-control string" name="quanto_tempo_CAP" type="text" value="" />
								<span class="help-block"></span>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="thumbnail">
			<div class="row">
				<div class="col-sm-12">
					<p>Conclusão</p>
				</div>
			</div>
			{{itens =['metodo_escolha_pacientes', 'indicacao_medica', 'metodo_anticoncepcional']}}
			{{for item in itens:}}
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-2">{{=item.replace('_',' ').capitalize()}}</label>
						<div class="col-sm-10">
							<input class="form-control string" name="{{=item}}" type="text" value="" />
							<span class="help-block"></span>
						</div>
					</label>
				</div>
			</div>
			{{pass}}
			<div class="row">
				<div class="form-group">
					<label class="control-label col-sm-2">Observações</label>
					<div class="col-sm-10">
						<textarea class="text form-control" cols="20" name="observacoes" rows="5"></textarea>
						<span class="help-block"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-2">
					<input class="btn btn-primary" type="submit" value="Gravar informações" />
				</div>
			</div>
		</div>
		{{=form.hidden_fields()}}
</form>
