<!-- ficha_clinica_mastologia.html -->
{{extend 'base_pront.html'}}
<div class="clearfix">
<h3>Consulta Mastologia {{=consulta.hora_fim}}</h3>
<div class="thumbnail">
	{{itens = ['d_QD', 'e_QD']}}
	<div class="row">
		{{for item in itens:}}
		{{if formulario[item]:}}
	    <div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
	    	<strong>{{=item.replace('_QD','').capitalize()}}</strong>
	    </div>
	    {{pass}}
		{{pass}}
    </div>
    <hr>
	{{if formulario['tempo_meses_QD']:}}
	<div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 col-p-2"><strong>Tempo em Meses:</strong></div>
        <div class="col-sm-10 col-md-10 col-lg-11 col-p-10">
        	{{=formulario['tempo_meses_QD']}}
        </div>
    </div>
    <hr>
    {{pass}}
	{{itens = ['nodulo_QD', 'dor_QD', 'fluxo_QD', 'inflamacao_QD', 'treuma_QD', 'assintomatica_QD']}}
	<div class="row">
		{{for item in itens:}}
		{{if formulario[item]:}}
        <div class="col-sm-6 col-md-6 col-lg-6 col-p-6"><strong>{{=item.replace('_QD','').capitalize()}}</strong></div>
        {{pass}}
		{{pass}}
    </div>
    <hr>
    {{if formulario['outros_QD']:}}
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1 col-p-2"><strong>Outros:</strong></div>
        <div class="col-sm-10 col-md-10 col-lg-11 col-p-10">
        	{{=formulario['outros_QD']}}
        </div>
    </div>
    {{pass}}
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Antecedentes Tocoginecológicos: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['menarca_AT', 'idade_primeiro_AT']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_AT','').replace('_',' ').capitalize()}}</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['menopausa_AT', 'aleitamente_numero_total_AT', 'hormonios_AT']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
			<div class="col-sm-6 col-md-6 col-lg-3 col-p-6"><strong>{{=item.replace('_AT','').replace('_',' ').capitalize()}}</strong></div>
			{{if item == 'hormonios_AT':}}
			{{else:}}
			<div class="col-sm-6 col-md-6 col-lg-9 col-p-6">
				{{=formulario[item]}}
			</div>
			{{pass}}
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['dum_AT', 'aco_AT']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_AT','').replace('_',' ').capitalize()}}</strong></div>
			{{if item == 'aco_AT':}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{texto = 'aco_text_AT'}}
				{{=formulario[texto]}}
			</div>
			{{else:}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
			{{pass}}
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['g_AT', 'p_AT', 'a_AT', 'trh_AT']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-3 col-md-3 col-lg-3 col-p-3">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_AT','').replace('_',' ').capitalize()}}</strong></div>
			{{if item == 'hormonios_AT':}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{texto = 'trh_text_AT'}}
				{{=formulario[texto]}}
			</div>
			{{else:}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
			{{pass}}
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Antecedentes Pessoais e Familiares: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['alcoolismo_APF', 'tabagismo_APF', 'biopsia_previa_APF', 'ap_APF', 'cancer_mama_APF', 'tratamento']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_APF','').replace('_',' ').capitalize()}}</strong></div>
			{{if item in ('alcoolismo_APF', 'tabagismo_APF'):}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>Nº por Dia:</strong></div>
				<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{texto = item.replace('_APF','_text_APF')}}
				{{=formulario[texto]}}
				</div>
			</div>
			{{elif item in ('biopsia_previa_APF', 'cancer_mama_APF'):}}
			{{else:}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
			{{pass}}
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> CA Mama: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['mae_CM', 'materno_CM', 'unilateral_CM', 'avo_CM', 'paterno_CM', 'bilateral_CM', 'tia_CM', 'irma_CM', 'prima_CM']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<strong>{{=item.replace('_CM','').replace('_',' ').capitalize()}}</strong>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['idade_CM', 'observacoes_CM']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_CM','').replace('_',' ').capitalize()}}</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Outros Câncer: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['endometrio_OC', 'colon_OC', 'ovario_OC', 'tireoide_OC', 'prostata_OC', 'outros_OC']}}
			{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<strong>{{=item.replace('_OC','').replace('_',' ').capitalize()}}</strong>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{if formulario['outros_text_OC']:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>Outros:</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario['outros_text_OC']}}
			</div>
		</div>
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Exame: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['exame_fisico_E', 'inspecao_E', 'palpacao_E', 'consistencia_E' , 'mobilidade_E', 'superficie_E']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_E','').replace('_',' ').capitalize()}}</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['abaulamento_E', 'retracao_E', 'uiceracao_E', 'eritema_E', 'edema_E', 'edema_braco_E']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<strong>{{=item.replace('_E','').replace('_',' ').capitalize()}}</strong>
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Experessão: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['fluxo_Ex', 'cor_Ex']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_Ex','').replace('_',' ').capitalize()}}</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['multiductal_Ex', 'uniductal_Ex', 'linfonodos_axila_Ex', 'supre_clavicular_Ex', 'd_Ex', 'unico_Ex', 'moveis_Ex', 'isolado_Ex', 'e_Ex', 'multiplo_Ex', 'fixos_Ex', 'conglomerado_Ex']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<strong>{{=item.replace('_Ex','').replace('_',' ').capitalize()}}</strong>
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-12">
			<p> Suspeita Clínica: </p>
		</div>
	</div>
	<div class="row">
		{{itens = ['lesao_SC','suspeita_clinica_SC', 'mamografia_SC', 'usg_SC', 'citologia_SC', 'paaf_SC', 'bag_SC', 'ap_SC']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_Ex','').replace('_',' ').capitalize()}}</strong></div>
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
		</div>
		{{pass}}
		{{pass}}
	</div>
	<hr>
	<div class="row">
		{{itens = ['biopsia_SC']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
			<strong>{{=item.replace('_Ex','').replace('_',' ').capitalize()}}</strong>
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		{{itens = ['estadiamento_clinico', 'tnm', 'conduta', 'rx_torax', 'mapeamento_osseo', 'usg_abdominal', 'usg_pelvica']}}
		{{for item in itens:}}
		{{if formulario[item]:}}
		<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
			<div class="col-sm-4 col-md-4 col-lg-3 col-p-4"><strong>{{=item.replace('_',' ').capitalize()}}</strong></div>
			{{if item in ('rx_torax', 'mapeamento_osseo', 'usg_abdominal', 'usg_pelvica'):}}
			<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
				{{=formulario[item]}}
			</div>
			<div class="col-sm-4 col-md-4 col-lg-5 col-p-4">
				{{texto = item + '_text'}}
				{{=formulario[texto]}}
			</div>
			{{else:}}
			<div class="col-sm-8 col-md-8 col-lg-9 col-p-8">
				{{=formulario[item]}}
			</div>
			{{pass}}
		</div>
		{{pass}}
		{{pass}}
	</div>
</div>
</div>




















