{{extend 'base_form.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="thumbnail">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Queixa e Duração:</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="queixa_duracao_QD" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-8">
					<div class="col-sm-4">Tratamento:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="perda_esforcos_QD">
						  		{{itens =['Não', 'Mínimos esforços', 'Médios esforços', 'Grandes esforços']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				{{itens = ['perda_urina_constante_QD', 'incontinencia_urgencia_QD', 'esvaziamento_incompleto_QD', 'n_miccao_noite_QD', 'n_miccao_dia_QD', 'dusria_QD', 'urgencia_miccional_QD', 'enurese_noturna_QD', 'hematuria_QD', 'polaciuria_QD']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_QD','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">Antecendestes Cirúrgicos Urinários</label>
				<div class="col-sm-12">
					<textarea class="text form-control" cols="20" name="antecedentes_cirurgicos_urinarios_QD" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Exame Fisico Especifícos</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Vulva:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="vulva_EFE">
						  		{{itens = [' ','NL', 'Atrofia', 'Dermatite']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Procidência de PVA:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="procidencia_pva_EFE">
						  		{{itens = [' ','Ausente', 'Não atinge o intróito vaginal ao esforço', 'Atinge o intróito vaginal ao esforço', 'Ultrapassa o intróito vaginal ao esforço', 'Ultrapassa o intróito vaginal no repouso']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Procidência de PVP:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="procidencia_pvp_EFE">
						  		{{itens = [' ','Discreta', 'Moderada', 'Acentuada']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Perda de urina:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="perda_urina_EFE">
						  		{{itens = [' ','Não', 'Posição ginecológica', 'Posição ortostática', 'Pequena quantidade', 'Grande quantidade']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Rotura perineal:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="rotura_perineal_EFE">
						  		{{itens = [' ','Ausente', '1º grau', '2º grau', '3º grau']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Prolapso uterino:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="prolapso_uterino_EFE">
						  		{{itens = [' ','Ausente', '1º grau', '2º grau', '3º grau']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				{{itens = ['sensibilidade_perineal_EFE', 'reflexo_anal_EFE', 'reflexo_bulbocavernoso_EFE', 'teste_cotonete_EFE']}}
				{{for item in itens:}}
				<label class="control-label col-sm-12">
					<div class="col-sm-4">{{=item.replace('_EFE','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Exame Subsidiários</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['urinal_um_ES', 'urocultura_ES']}}
				{{for item in itens:}}
				<label class="control-label col-sm-12">
					<div class="col-sm-4">{{=item.replace('_ES','').replace('_',' ').replace('um','1').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-12">US colo vesical:</div>
				{{itens = ['repouso_ES', 'esforco_ES', 'mobilidade_ES']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6">
					<div class="col-sm-4">{{=item.replace('_ES','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group">
				<div class="col-sm-12">Estudo Urodinâmico:</div>
				{{itens = ['fluxo_medio_ES', 'fluxo_maximo_ES', 'vol_urinario_ES', 'residuo_ES', 'cv_primeiro_desejo_ES', 'cv_maxima_ES', 'perda_urina_ES', 'contracao_nao_inibida_ES', 'pressao_perda_ES', 'pmfu_ES', 'cfu_ES']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6">
					<div class="col-sm-4">{{=item.replace('_ES','').replace('_',' ').replace('primeiro','1º').replace('ao','ão').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		{{itens = ['cisroscopia_ES', 'urografia_excretora_ES', 'outros_ES']}}
		{{for item in itens:}}
		<hr>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.replace('_ES','').replace('_',' ').capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
	</div>
	<hr>
	<div class="thumbnail">
		{{itens = ['evolucao', 'conduta']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-6">
					<div class="col-sm-4">Data</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="data_ES" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">Observações</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="observacoes" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
    	<div class="form-group">
       		<div class="col-sm-2">
           		<input class="btn btn-primary" type="submit" value="Gravar informações" />
        	</div>
   		</div>
	</div>
{{=form.hidden_fields()}}
</form>
