{{extend 'base_form.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Queixa e Duração </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">
					<div class="col-sm-4 text-right">D</div> 
					<div class="col-sm-8">
						<input class="boolean" name="d_QD" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-2">
					<div class="col-sm-4 text-right">E</div> 
					<div class="col-sm-8">
						<input class="boolean" name="e_QD" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-4">Tempo em Meses:</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="tempo_meses_QD" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['nodulo_QD', 'dor_QD', 'fluxo_QD', 'inflamacao_QD', 'treuma_QD', 'assintomatica_QD']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_QD','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-2">Outros:</div> 
					<div class="col-sm-10">
						<input class="form-control string" name="outros_QD" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Antecedentes Tocoginecológicos: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['menarca_AT', 'idade_primeiro_AT']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6">
					<div class="col-sm-4">{{=item.replace('_AT','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['menopausa_AT', 'aleitamente_numero_total_AT']}}
				{{for item in itens:}}
				<label class="control-label col-sm-4">
					<div class="col-sm-4">{{=item.replace('_AT','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
				<label class="control-label col-sm-4">
					<div class="col-sm-4">Hormônios</div> 
					<div class="col-sm-8">
						<input class="boolean" name="hormonios_AT" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					<div class="col-sm-4">DUM</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="dum_AT" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-4">
					<div class="col-sm-4">ACO</div> 
					<div class="col-sm-8">
						<input class="boolean" name="aco_AT" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-4"> 
					<div class="col-sm-12">
						<input class="form-control string" name="aco_text_AT" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					{{itens = ['g_AT', 'p_AT', 'a_AT']}}
					{{for item in itens:}}
					<div class="col-sm-1">{{=item.replace('_AT','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-3">
						<input class="form-control string" name="{{=item}}" type="text" value="" />
						<span class="help-block"></span>
					</div>
					{{pass}}
				</label>
				<label class="control-label col-sm-4">
					<div class="col-sm-4">TRH</div> 
					<div class="col-sm-8">
						<input class="boolean" name="trh_AT" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-4"> 
					<div class="col-sm-12">
						<input class="form-control string" name="trh_text_AT" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Antecedentes Pessoais e Familiares: </p>
			</div>
		</div>
		{{itens = ['alcoolismo', 'tabagismo']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					<div class="col-sm-4">{{=item.capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}_APF" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-4">Nº por Dia:</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}_text_APF" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{pass}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					<div class="col-sm-4">Biópsia prévia</div> 
					<div class="col-sm-8">
						<input class="boolean" name="biopsia_previa_APF" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-4">AP</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="ap_APF" type="text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					<div class="col-sm-4">Câncer de Mama</div> 
					<div class="col-sm-8">
						<input class="boolean" name="cancer_mama_APF" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-4">Tratamento:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="tratamento">
						  		{{itens = [' ','radical', 'RT', 'QT', 'HT']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> CA Mama: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['mae_CM', 'materno_CM', 'unilateral_CM', 'avo_CM', 'paterno_CM', 'bilateral_CM', 'tia_CM', 'irma_CM', 'prima_CM']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_CM','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		{{itens = ['idade_CM', 'observacoes_CM']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">{{=item.replace('_CM','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type"text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{pass}}
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Outros Câncer: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['endometrio_OC', 'colon_OC', 'ovario_OC', 'tireoide_OC', 'prostata_OC', 'outros_OC']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_OC','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-12">
						<input class="form-control string" name="outros_text_OC" type"text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Exame: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Exame Fisico:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="exame_fisico_E">
						  		{{itens = ['normal', 'alterado', 'D', 'E']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Inspeção:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="inspecao_E">
						  		{{itens = [' ','volume', 'P', 'M', 'G']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['abaulamento_E', 'retracao_E', 'uiceracao_E', 'eritema_E', 'edema_E', 'edema_braco_E']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_E','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Palpação:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="palpacao_E">
						  		{{itens = ['normal', 'espessamento', 'nodulo']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Consistência:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="consistencia_E">
						  		{{itens = [' ','cistica', 'endurecimento', 'fibroelastico', 'lipomatosa']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Mobilidade:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="mobilidade_E">
						  		<option value></option>
						  		{{itens = ['móvel', 'fixo', 'Fáscia peitoral', 'Parede costal', 'pele']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Superficie:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="superficie_E">

						  		{{itens = ['regular', 'irregular']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Experessão: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Fluxo:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="fluxo_Ex">
						  		<option value></option>
						  		{{itens = ['S', 'N', 'D', 'E']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Cor:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="cor_Ex">
						  		{{itens = [' ','sangue', 'sero-sanguinolento', 'seroso', 'esverdeado', 'lacteo', 'cristalino']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				{{itens = ['multiductal_Ex', 'uniductal_Ex', 'linfonodos_axila_Ex', 'supre_clavicular_Ex', 'd_Ex', 'unico_Ex', 'moveis_Ex', 'isolado_Ex', 'e_Ex', 'multiplo_Ex', 'fixos_Ex', 'conglomerado_Ex']}}
				{{for item in itens:}}
				<label class="control-label col-sm-6 col-xs-12">
					<div class="col-sm-4">{{=item.replace('_Ex','').replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="boolean" name="{{=item}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> Suspeita Clínica: </p>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">Lesão:</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="lesao_SC">
						  		{{itens = [' ', 1, 2, 3, 'D', 'E']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{select = ['suspeita_clinica_SC', 'mamografia_SC', 'usg_SC', 'citologia_SC', 'paaf_SC', 'bag_SC']}}
		{{for item in select:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">{{=item.replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="{{=item}}">
						  		{{itens = ['Normal', 'Benigno', 'Maligno', 'Suspeito', 'Inconclusivo', 'NR']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{pass}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4 col-xs-12">
					<div class="col-sm-4">Biópsia</div> 
					<div class="col-sm-8">
						<input class="boolean" name="biopsia_SC" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-2">AP:</div> 
					<div class="col-sm-10">
						<input class="form-control string" name="ap_SC" type"text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
	</div>
	<hr>
	<div class="thumbnail">
		{{itens = ['estadiamento_clinico', 'tnm', 'conduta']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-12">
					<div class="col-sm-4">{{=item.capitalize()}}</div> 
					<div class="col-sm-8">
						<input class="form-control string" name="{{=item}}" type"text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{pass}}
		{{select = ['rx_torax', 'mapeamento_osseo', 'usg_abdominal', 'usg_pelvica']}}
		{{for item in select:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-4">
					<div class="col-sm-4">{{=item.replace('_',' ').capitalize()}}</div> 
					<div class="col-sm-8">
						  <select class="generic-widget form-control" name="{{=item}}">
						  		{{itens = ['normal', 'alterado']}}
								{{for item in itens:}}
                                <option value="{{=item}}">{{=item.capitalize()}}</option>
                                {{pass}}
                            </select>
						<span class="help-block"></span>
					</div>
				</label>
				<label class="control-label col-sm-8">
					<div class="col-sm-12">
						<input class="form-control string" name="{{=item}}_text" type"text" value="" />
						<span class="help-block"></span>
					</div>
				</label>
			</div>
		</div>
		{{pass}}
	</div>
	<div class="row">
    	<div class="form-group">
       		<div class="col-sm-2">
           		<input class="btn btn-primary" type="submit" value="Gravar informações" />
        	</div>
   		</div>
	</div>
{{=form.hidden_fields()}}
</form>