{{extend 'base_form.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> MAMAS</p>
			</div>
		</div>
		{{itens = ['insp_dinamica_MAMAS', 'palpacao_MAMAS', 'expressao_MAMAS', 'axilas_MAMAS']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.replace('_MAMAS','').replace('_',' ').capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> OGI TOQUE</p>
			</div>
		</div>
		{{itens = ['vagina_TOQUE', 'colo_TOQUE', 'utero_TOQUE', 'an_d_TOQUE', 'an_e_TOQUE', 'reto_TOQUE',  'parametrios_TOQUE']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.replace('_TOQUE','').replace('_',' ').capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p> OGE</p>
			</div>
		</div>
		{{itens = ['pilificacao_OGE', 'labios_OGE', 'clitoris_OGE', 'ureta_OGE', 'gi_bartholin_OGE', 'himem_OGE',  'pva_OGE', 'pvp_OGE', 'perineo_OGE', 'perda_urina_OGE']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.replace('_OGE','').replace('_',' ').capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
	</div>
	<hr>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12">
				<p>ESPECULAR</p>
			</div>
		</div>
		{{itens = ['pilificacao_OGE', 'colo_ESPECULAR', 'colo_ESPECULAR']}}
		{{for item in itens:}}
		<div class="row">
			<div class="form-group">
				<label class="control-label col-sm-2">{{=item.replace('_ESPECULAR','').replace('_',' ').capitalize()}}</label>
				<div class="col-sm-10">
					<textarea class="text form-control" cols="20" name="{{=item}}" rows="2"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		{{pass}}
	</div>
	<div class="row">
    	<div class="form-group">
       		<div class="col-sm-2">
           		<input class="btn btn-primary" type="submit" value="Gravar informações" />
        	</div>
   		</div>
	</div>
{{=form.hidden_fields()}}
</form>
