{{extend 'base_form.html'}}
<div class="clearfix">
	<h3>Prontuario Pré Natal</h3>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<p> Antecedentes</p>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<p> AF:</p>
			</div>
		</div>
		{{itens = ['AF_hipertencao_arterial_A', 'AF_diabetes_A', 'AF_gemelidade_A', 'AF_malformacao_A']}}
		<div class="row">
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-3 col-md-3 col-lg-3 col-p-3">
				{{=item.replace('AF_','').replace('_A','').replace('_',' ').capitalize()}}:
			</div>
			{{pass}}
			{{pass}}
		</div>
		{{if consulta['AF_outros_A']:}}
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					Outros:
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">{{=consulta['AF_outros_A']}}</div>
			</div>
		</div>
		{{pass}}
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<p> AP:</p>
			</div>
		</div>
		{{itens = ['AP_hipertencao_arterial_A', 'AP_diabetes_A', 'AP_cir_pelvica_A', 'AP_cardiopatia_A', 'AP_infc_urinaria_A', 'AP_malformacao_A']}}
		<div class="row">
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-3 col-md-2 col-lg-2 col-p-3">
				{{=item.replace('AP_','').replace('_A','').replace('_',' ').capitalize()}}:
			</div>
			{{pass}}
			{{pass}}
		</div>
		{{if consulta['AP_outros_A']:}}
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					Outros:
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">{{=consulta['AP_outros_A']}}</div>
			</div>
		</div>
		{{pass}}
		<hr>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">
				<p> Antecedentes Obstétricos:</p>
			</div>
		</div>
		<div class="row">
			{{itens = ['gestacao_AO', 'parto_AO', 'abortos_AO', 'ectopicas_AO', 'gemelares_AO', 'abortamentos_AO', 'espontaneos_AO', 'provocados_AO', 'com_curetagem_AO', 'partos_vaginais_AO', 'partos_cesarios_AO', 'nascidos_vivos_AO', 'nascidos_mortos_AO', 'filhos_vivos_atuais_AO', 'obitos_primeira_semana_AO', 'obitos_apos_primeira_semana_AO', 'causa_obitos_AO', 'peso_rn_AO', 'data_ultima_gestacao_AO', 'amamentacao_AO', 'amamentacao_duracao_AO', 'amamentacao_causa_insucesso_AO', 'intercorrencias_gestacoes_anteriores_AO']}}
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-6 col-md-4 col-lg-4 col-p-6">

				{{if item == "amamentacao_AO":}}
					{{=item.replace('_AO','').replace('_',' ').capitalize()}}
				{{else:}}
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
					{{=item.replace('_AO','').replace('_',' ').capitalize()}}:
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					{{=consulta[item]}}
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}
		</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">Gestação Atual:</div>
		</div>
		<div class="row">
			{{itens = ['dum_GA', 'dpp_GA', 'duvida_GA', 'duvida_qual_GA']}}
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-6 col-md-3 col-lg-3 col-p-6">
				{{if item == "duvida_GA":}}
					{{=item.replace('_GA','').replace('_',' ').capitalize()}}
				{{else:}}
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
					{{=item.replace('_GA','').replace('_',' ').capitalize()}}:
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					{{=consulta[item]}}
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}
		</div>
		<div class="row">
			{{itens = ['grupo_sanguineo_GA', 'sensibilizada_GA', 'vacinacao_anti_tetanica', 'doses_previas', 'ultima_dose_maior_cinco_anos_GA']}}
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
				{{if item == "sensibilizada_GA":}}
					{{=item.replace('_GA','').replace('_',' ').capitalize()}}
				{{elif item == "vacinacao_anti_tetanica":}}
					{{=item.replace('_',' ').capitalize()}}
				{{else:}}
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
					{{=item.replace('_GA','').replace('_',' ').capitalize()}}:
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					{{=consulta[item]}}
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}

		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-p-12">Data prevista vacinações:</div>
			<div class="row">
				{{itens = ['data_prevista_vacinacoes_um_texto_GA', 'data_prevista_vacinacoes_um_GA']}}
				{{for item in itens:}}
				{{if consulta[item]:}}
				<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
					{{if "texto" in item:}}
					<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
						1ª:
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
						{{=consulta[item]}}
					</div>
					{{else:}}
					Realizada
					{{pass}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			{{itens = ['data_prevista_vacinacoes_dois_texto_GA', 'data_prevista_vacinacoes_dois_GA']}}
			<div class="row">

				{{for item in itens:}}
				{{if consulta[item]:}}
				<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
					{{if "texto" in item:}}
					<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
						2ª:
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
						{{=consulta[item]}}
					</div>
					{{else:}}
					Realizada
					{{pass}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<div class="row">
				{{itens = ['data_prevista_vacinacoes_tres_texto_GA','data_prevista_vacinacoes_tres_GA']}}
				{{for item in itens:}}
				{{if consulta[item]:}}
				<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
					{{if "texto" in item:}}
					<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
						3ª:
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
						{{=consulta[item]}}
					</div>
					{{else:}}
					Realizada
					{{pass}}
				</div>
				{{pass}}
				{{pass}}
			</div>
		</div>
		<div class="row">
			{{itens = ['fumo_GA', 'famo_quantos_GA', 'alcool_GA', 'alcool_frequencia_GA', 'intercorrencias_primeira_consulta_GA']}}
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
				{{if item == "fumo_GA":}}
				Fumo = Sim
				{{elif item == "alcool_GA":}}
				Alcool = Sim
				{{else:}}
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
					{{=item.replace('_GA','').replace('_',' ').capitalize()}}:
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					{{=consulta[item]}}
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}
		</div>
	</div>
	<div class="thumbnail">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">Exame Dísico:</div>
		</div>
		<div class="row">
			{{itens = ['peso_primeira_consulta_ED', 'peso_previo_ED', 'estatura_ED', 'ex_clinico_normal_ED', 'ex_mamas_normal_ED', 'ex_ginecologico_normal_ED', 'achados_alterados_exames_ED']}}
			{{for item in itens:}}
			{{if consulta[item]:}}
			<div class="col-sm-6 col-md-6 col-lg-6 col-p-6">
				{{if "normal" in item:}}
				{{=item.replace('_ED','').replace('_',' ').capitalize()}}
				{{else:}}
				<div class="col-sm-4 col-md-4 col-lg-4 col-p-4">
					{{=item.replace('_ED','').replace('_',' ').capitalize()}}:
				</div>
				<div class="col-sm-8 col-md-8 col-lg-8 col-p-8">
					{{=consulta[item]}}
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}
		</div>
	</div>
</div>
<form action="#" enctype="multipart/form-data" method="post">
	<h4>Evolução da Gravidez</h4>
	<table class="table table-striped">
		<tbody> 
			{{itens = ['consulta_numero','data_EG', 'ig_EG','peso_EG','pa_EG','altura_uterina_EG','apresentacao_fetal_EG','movimentos_fetais_EG','bcf_EG','edema_EG']}}
			{{for item in itens:}}
			<tr>
				<th scope="row">{{=form.custom.label[item]}}</th>
				<td class="hidden-print col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget[item]}}</td>
			</tr>
			{{pass}} 
		</tbody> 
	</table>
	<h4>Exames Laboratoriais</h4>
	<table class="table table-striped">
		<thead> 
			<tr> 
				<th>#</th>
				<th class="hidden-print col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget['data_EL']}}</th>
			</tr> 
		</thead>
		<tbody> 
			{{itens = ['tipo_sanguineo_EL','hbht_EL', 'glicenia_jejum_EL','totg_EL','vdrl_EL','hbsag_EL','hiv_EL','toxoplasmose_EL','rubeola_EL','urinal_EL','urocultura_EL','papanicolaou_EL','outros_EL']}}
			{{for item in itens:}}
			<tr>
				<th scope="row">{{=form.custom.label[item]}}</th>
				<td class="hidden-print col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget[item]}}</td>
			</tr>
			{{pass}} 
		</tbody> 
	</table>
	<h4>Ultra-Sonografia</h4>
	<table class="table table-striped">
		<thead> 
			<tr> 
				<th>#</th>
				<th class="hidden-print col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget['data_US']}}</th>
			</tr> 
		</thead>
		<tbody> 
			{{itens = ['ig_dum_US','ig_usg_US', 'peso_fetal_US','placenta_US','liquido','outros_US']}}
			{{for item in itens:}}
			<tr>
				<th scope="row">{{=form.custom.label[item]}}</th>
				<td class="hidden-print col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget[item]}}</td>
			</tr>
			{{pass}} 
		</tbody> 
	</table>
	<h4>Ultra-Sonografia</h4>
	<table class="table table-striped">
		<thead> 
			<tr> 
				<th>{{=form.custom.label['data_IC']}}</th>
				<th>{{=form.custom.label['ic_IC']}}</th>
			</tr> 
		</thead>
		<tbody> 				
			<tr class="hidden-print">
					<td class="col-sm-3 col-md-3 col-lg-3">{{=form.custom.widget['data_IC']}}</td>
					<td class="col-sm-9 col-md-9 col-lg-9">{{=form.custom.widget['ic_IC']}}</td>
				</tr>
		</tbody> 
	</table>

	<div class="row">
    	<div class="form-group">
       		<div class="col-sm-2 col-md-2 col-lg-2">
           		<input class="btn btn-primary" type="submit" value="Gravar informações" />
        	</div>
   		</div>
	</div>
	{{=form.hidden_fields()}}
</form>
