{{extend 'layout.html'}}
<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="calendario" id='calendar'>
		</div>
	</div>
	<div class="col-md-5 col-lg-5">
		<div class="list-group">
			<a href="#" class="list-group-item active">Todos os Agendamentos </a>
			{{for item in lista:}}
				<a class="list-group-item" href="#" data-toggle="modal" data-target="#age{{=item['id_agendamento']}}">{{=item['nome']}} - {{=item['dia']}}</a>
			{{pass}}
		</div>
	</div>
	
</div>
<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			lang: 'pt-br',
			defaultView: 'agendaDay',
			selectable: false,
			selectHelper: false,
			select: function(start, end) {
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: false,
			eventLimit: false, // allow "more" link when too many events
			events: [
			{{for item in lista:}}
		{
			title: '{{=item['nome']}}',
			start: '{{=item['dia_iso']}}T{{=item['hora_inicio']}}',
			end: '{{=item['dia_iso']}}T{{=item['hora_fim']}}',
			url: '{{=URL('agendamento', args=item['id_agendamento'])}}'
		},
		{{pass}}
			]
		});
	});
</script>
<!-- /Calendar -->

<!-- Modal -->
{{for item in lista:}}
<div class="modal fade" id="age{{=item['id_agendamento']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agendamento</h4>
			</div>
			<div class="modal-body">
				<ul>
					<p><strong>Nome:</strong> <a href="{{=URL('paciente', args=item['id_paciente'])}}">{{=item['nome']}}</a></p>
					<p><strong>Hora início:</strong>{{=item['hora_inicio']}}</p>
					<p><strong>Hora fim:</strong>{{=item['hora_fim']}}</p>
				</ul>
				
			</div>
			<div class="modal-footer">
				<a href="{{=URL(c='consulta', f='consultar', args=item['id_paciente'])}}" class="btn btn-primary btn-xs" role="button"><span class="icon pen icon-pencil glyphicon glyphicon-pencil"> Iniciar</span></a>
				<a href="{{=URL(c='agendamento', f='editar_agendamento', args=item['id_agendamento'])}}" class="btn btn-default btn-xs" role="button"><span class="icon pen icon-pencil glyphicon glyphicon-pencil"> Editar</span></a>
				<a href="{{=URL(c='agendamento', f='apagar_agendamento', args=item['id_agendamento'])}}" class="btn btn-default btn-xs" role="button"><span class="icon plus icon-plus glyphicon glyphicon-plus"> Apagar</span></a>
			</div>
		</div>
	</div>
</div>
{{pass}}

