<div class="clearfix">
<h3>Consulta Ficha Climatério {{=consulta.hora_fim}}</h3>
<div class="thumbnail">
	{{itens = ['motivo_consulta']}}
	{{for item in itens:}}
	{{if formulario[item]:}}
	<div class="row">
        <div class="col-sm-2 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
        <div class="col-sm-10 col-lg-11">
        	{{=formulario[item]}}
        </div>
    </div>
    {{pass}}
	{{pass}}
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-1">
			<p>ANTECEDENTES PESSOAIS: </p>
		</div>
		<div class="col-sm-11">
			{{itens = ['hipertensao', 'tireoidopatia', 'tromboflebite', 'gastriste_colocistopatia', 'doenca_cardio_cerebrovascular', 'nefropatia', 'hepatopatia', 'cirugia', 'cancer', 'tabagismo', 'etilismo', 'medicacao_em_uso', 'neuro_psquiatrico', 'atividade_fisica']}}
			{{for item in itens:}}
			{{if formulario[item]:}}
			<div class="row">
				<div class="col-sm-2 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-10 col-lg-11">
					{{texto = '_texto'}}
					{{texto = item+texto}}
					{{=formulario[texto]}}
				</div>
			</div>
			<hr>
			{{pass}}
			{{pass}}
		</div>
	</div>
</div>
<div class="thumbnail">
        <div class="row">
            <div class="col-sm-1">
                <p>ANTECEDENTES FAMILIARES: </p>
            </div>
            <div class="col-sm-11">
            {{itens = ['cancer_de_mama', 'cancer_de_utero', 'cancer_de_ovario', 'cancer_de_colon', 'osteoporose', 'cardio_cerebrovascular', 'outros_AF']}}
			<div class="row">
				{{for item in itens:}}
				{{if formulario[item]:}}
				<div class="col-sm-6 col-lg-6"><strong>{{=item.replace('_',' ').capitalize()}}</strong></div>
				{{pass}}
				{{pass}}
			</div>
		</div>
	</div>
</div>
<div class="thumbnail">
        <div class="row">
            <div class="col-sm-1">
                <p>Antecedentes Tocoginecologicos: </p>
            </div>
            <div class="col-sm-11">
            {{itens = ['menarca', 'ciclos_regulares', 'atividade_sexual', 'dum', 'g_AT', 'p_AT', 'pnl_AT', 'pc_AT', 'pf_AT', 'idade_menopausa', 'tempo_menopausa', 'tipo_menopausa', 'histerectomia', 'ooforectoma_bilateral']}}
            {{for item in itens:}}
			{{if formulario[item]:}}
			<div class="row">
				<div class="col-sm-2 col-lg-1"><strong>{{=item.replace('_',' ').replace('AT',' ').capitalize()}}:</strong></div>
				{{if item in ('menarca', 'ciclos_regulares', 'atividade_sexual'):}}
				<div class="col-sm-10 col-lg-11">
					{{texto = '_texto'}}
					{{texto = item+texto}}
					{{=formulario[texto]}}
				</div>
				{{elif item in ('histerectomia', 'ooforectoma_bilateral'):}}
				{{else:}}
				<div class="col-sm-10 col-lg-11">
					{{=formulario[item]}}
				</div>
				{{pass}}
			</div>
			<hr>
			{{pass}}
			{{pass}}
		</div>
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-1">
			<p>Uso prévio de Hormônios: </p>
		</div>
		<div class="col-sm-11">
			{{itens = ['pipula', 'reposicao_hormonal']}}
			{{for item in itens:}}
			{{if formulario[item]:}}
			<div class="row">
				<div class="col-sm-2 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-10 col-lg-11">
					{{texto = '_texto'}}
					{{texto = item+texto}}
					{{=formulario[texto]}}
				</div>
			</div>
			{{pass}}
			{{pass}}
		</div>
	</div>
</div>
<div class="thumbnail">
	<div class="row">
		<div class="col-sm-1">
			<p>Exame fisico geral e Ginecológico: </p>
		</div>
		<div class="col-sm-11">
			<div class="row">
				{{itens = ['peso', 'altura', 'pa', 'imc']}}
                {{for item in itens:}}
                {{if formulario[item]:}}
                <div class="col-sm-1 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-2 col-lg-2">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-3 col-lg-3">MAMAS:</div>
				{{itens = ['MAMAS_inspecao', 'MAMAS_palpacao', 'MAMAS_axila']}}
            	{{for item in itens:}}
            	{{if formulario[item]:}}
                <div class="col-sm-1 col-lg-1"><strong>{{=item.replace('MAMAS_','').capitalize()}}:</strong></div>
				<div class="col-sm-2 col-lg-2">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<hr>
			{{itens = ['abdome', 'oge', 'ogi_vagina', 'colo', 'corpo_do_utero' , 'anexos' , 'toque_retal']}}
			{{for item in itens:}}
            {{if formulario[item]:}}
			<div class="row">
                <div class="col-sm-3 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-9 col-lg-10">
					{{=formulario[item]}}
				</div>
			</div>
			{{pass}}
			{{pass}}
		</div>
	</div>
</div>
<div class="thumbnail">
    <div class="row">
        <div class="col-sm-1">
            <p>Exames Complementares </p>
        </div>
	    <div class="col-sm-11">
			{{item = 'teste_progesterona'}}
            {{if formulario[item]:}}
            <div class="row">
				<div class="col-sm-2 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-8 col-lg-9">
					{{=formulario[item]}}
				</div>
				<div class="col-sm-2 col-lg-2">
					{{texto = '_data'}}
					{{texto = item+texto}}
					{{=formulario[texto]}}
				</div>
			</div>
			{{pass}}
			<div class="row">
				{{itens = ['colpocitologia_oncologica', 'im', 'im_data']}}
				{{for item in itens:}}
            	{{if formulario[item]:}}
            	<div class="col-sm-2 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-2 col-lg-2">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<div class="row">
				{{itens = ['mamografia', 'mamografia_data', 'glicemia']}}
				{{for item in itens:}}
            	{{if formulario[item]:}}
            	<div class="col-sm-2 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-2 col-lg-2">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<div class="row">
				{{itens = ['colesterou_total', 'hdl', 'ldl' , 'triglicerides']}}
				{{for item in itens:}}
            	{{if formulario[item]:}}
            	<div class="col-sm-1 col-lg-1"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-2 col-lg-2">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<div class="row">
				{{itens = ['ultra_sonografia_transvaginal', 'densitometria_ossea' , 'dosagens_hormonais']}}
				{{for item in itens:}}
            	{{if formulario[item]:}}
            	<div class="col-sm-3 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-6 col-lg-7">
					{{=formulario[item]}}
				</div>
				<div class="col-sm-3 col-lg-3">
					{{data = '_data'}}
					{{data = item+data}}
					{{=formulario[data]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
			<div class="row">
				{{item = 'consulta_outro_especialista'}}
            	{{if formulario[item]:}}
            	<div class="col-sm-3 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-9 col-lg-10">
					{{texto = 'consulta_outro_especialista_texto'}}
					{{=formulario[texto]}}
				</div>
				{{pass}}
			</div>
			<div class="row">
				{{itens = ['diagnostico_clinico', 'orientacao_terapeutica' ]}}
				{{for item in itens:}}
            	{{if formulario[item]:}}
            	<div class="col-sm-3 col-lg-2"><strong>{{=item.replace('_',' ').capitalize()}}:</strong></div>
				<div class="col-sm-9 col-lg-10">
					{{=formulario[item]}}
				</div>
				{{pass}}
				{{pass}}
			</div>
		</div>
	</div>
</div>

</div>
