{{extend 'layout.html'}}

<h4> Histórico de consultas </h4>
<ul class="timeline">
{{for row in consultas:}}

	{{if row.tipo_consulta == 'retorno':}}	
	<li>
		<div class="timeline-badge warning"></div>
		<div class="timeline-panel">
			<div class="timeline-heading"><a href="{{=URL(c='pacientes', f='ver_consulta', args=row.id)}}">
					<h4 class="timeline-title">{{=row.tipo_consulta}}</h4>
			</div>
			<div class="timeline-body">
				<p>Data da consulta {{=row.hora_fim}}</p>
			</div>
		</div>
	</li>
	{{else:}}
	<li > 
		<div class="timeline-badge danger"> </div>
		<div class="timeline-panel"><a href="{{=URL(c='pacientes', f='ver_consulta', args=row.id)}}">
			<div class="timeline-heading">
				<h4 class="timeline-title">{{=row.tipo_consulta}}</h4>
			</div>
			<div class="timeline-body">
				<p>Data da consulta {{=row.hora_fim}}</p>
			</div>
			</a>
		</div>
		
	</li>
	{{pass}}
	
{{pass}}
</ul>

<!-- 
ID da consulta: {{=row.id}}<br />
Tipo de consulta: {{=row.tipo_consulta}}<br />
ID do paciente: {{=row.id_paciente}}<br />
Data e hora fim da consulta: {{=row.hora_fim}}<br />
_________________
{{pass}} -->
