{{extend 'layout.html'}}
<hr>
<div class="row">
	<div class="col-md-4">
		<div class="col-md-9 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row">
						<p class="text-center"><strong>Total de Pacientes cadastrados</strong></p>
						<h2 class="text-center">{{=total_pacientes}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-9 col-md-offset-2">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<div class="row">
						<p class="text-center"><strong>Total de agendamentos</strong></p>
						<h2 class="text-center">{{=total_agendamentos}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-9 col-md-offset-2">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<div class="row">
						<p class="text-center"><strong>Total de consultas</strong></p>
						<h2 class="text-center">{{=total_consultas}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
{{for dict in lista:}}
{{=dict['label']}}<br />
{{pass}}
