{{extend 'layout.html'}}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data</th>
				<th>Tipo de consulta</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="info">
				<th>{{=paciente.nome}}</th>
				<th>{{=consulta.hora_fim}}</th>
				<th>{{=consulta.tipo_consulta}}</th>
				<th><a href="{{=URL(c='prontuario', f='prontuario_consulta', args=consulta.id)}}" class="btn btn-default btn-sm btn-block" role="button">PRONTUÁRIO</a></th>
				<th><a href="{{=URL(c='consulta', f='editar_consulta', args=consulta.id)}}" class="btn btn-default btn-sm btn-block" role="button">EDITAR</a></th>
				<th><a href="{{=URL(c='consulta', f='apagar_consulta', args=consulta.id)}}" class="btn btn-default btn-sm btn-block" role="button">APAGAR</a></th>
				<th><a href="#" class="btn btn-default btn-sm btn-block" role="button">Gerar documentos</a></th>
		</tbody>
	</table>
</div>
