{{extend 'layout.html'}}
<form action="#" enctype="multipart/form-data" method="post">
	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-p-12">
		<div class="row">
			<div class="form-group">
				<label class="control-label col-xs-12 col-md-12 col-sm-12 col-lg-12 col-p-12">Data:</label>
				<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-p-8">
					<input class="date form-control" name="data_criacao" type="text" value="{{=request.now.strftime('%d/%m/%Y')}}" />
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-xs-12 col-md-12 col-sm-12 col-lg-12 col-p-12">Medicamentos:</label>
				{{for remedio in remedios:}}
				<label class="control-label col-xs-12 col-md-6 col-sm-6 col-lg-6 col-p-6">
					<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 col-p-4">{{=remedio.capitalize()}}</div> 
					<div class="col-xs-12 col-md-8 col-sm-8 col-lg-8 col-p-8">
						<input class="boolean" name="{{=remedio}}" type="checkbox" value="on">
						<span class="help-block"></span>
					</div>
				</label>
				{{pass}}
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="control-label col-xs-12 col-md-12 col-sm-12 col-lg-12 col-p-12">Outros:</label>
				<div class="control-label col-xs-12 col-md-12 col-sm-12 col-lg-12 col-p-12">
					<textarea class="text form-control" cols="20" name="texto" rows="5"></textarea>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2 col-p-2">
					<input class="btn btn-primary" type="submit" value="Gravar informações" />
				</div>
			</div>
		</div>
	</div>
	{{=form.hidden_fields()}}
</form>