<!-- fix #9 -->
{{extend 'layout.html'}}
<div class="col-sm-12 col-md-2 col-lg-2">
	<div class="visible-sm">
		<div class="thumbnail">
			<div class="row">
				<div class="col-sm-4">
					{{if paciente['image']:}}
					<img src="{{=URL('download',args=paciente['image'])}}" class="img-thumbnail hidden-print" alt="Avatar" style="min-height:200px;height:200px;"/>
					{{else:}}
					<img src="{{=URL('static','images/avatar.jpg')}}" class="img-thumbnail hidden-print" alt="Avatar" style="min-height:200px;height:200px;"/>
					{{pass}}
				</div>
				<div class="col-sm-8">
					<div class="caption">
						<h3>{{=paciente['nome']}}</h3>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='agendamento', f='', args=paciente['id'])}}', [], 'target')">Agendamentos</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='atestado', f='atestados.load', args=paciente['id'])}}', [], 'target')">Atestados</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='consulta', f='consultas.load', args=paciente['id'])}}', [], 'target')">Consultas</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='exame', f='exames.load', args=paciente['id'])}}', [], 'target')">Exames</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='prescricao', f='prescricoes.load', args=paciente['id'])}}', [], 'target')">Prescrição</button><p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-sm">
		<div class="thumbnail">
			{{if paciente['image']:}}
			<img src="{{=URL('download',args=paciente['image'])}}" class="img-thumbnail hidden-print" alt="Avatar" style="min-height:200px;height:200px;"/>
			{{else:}}
			<img src="{{=URL('static','images/avatar.jpg')}}" class="img-thumbnail hidden-print" alt="Avatar" style="min-height:200px;height:200px;"/>
			{{pass}}
			<div class="caption">
						<h3>{{=paciente['nome']}}</h3>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='agendamento', f='', args=paciente['id'])}}', [], 'target')">Agendamentos</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='atestado', f='atestados.load', args=paciente['id'])}}', [], 'target')">Atestados</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='consulta', f='consultas.load', args=paciente['id'])}}', [], 'target')">Consultas</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='exame', f='exames.load', args=paciente['id'])}}', [], 'target')">Exames</button><p>
						<p><button type="button" class="btn btn-default btn-sm btn-block" onclick="ajax('{{=URL(c='prescricao', f='prescricoes.load', args=paciente['id'])}}', [], 'target')">Prescrição</button><p>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 col-md-10 col-lg-10">
	<div class="panel panel-success">
		<div class="panel-heading">Dados Pessoais </div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<p><strong>Data de nascimento:</strong> {{=paciente['nascimento']}} </p>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<p><strong>CPF: </strong>{{=paciente['cpf']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<p><strong>Endereço: </strong>{{=paciente['endereco']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>Cidade: </strong>{{=paciente['cidade']}} </p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>UF: </strong>{{=paciente['uf']}}</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>CEP: </strong>{{=paciente['cep']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<p><strong>Telefone:</strong> {{=paciente['telefone']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>Escolaridade:</strong> {{=paciente['escolaridade']}}</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>Estado civil:</strong> {{=paciente['estadocivil']}}</p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<p><strong>Cor:</strong> {{=paciente['cor']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<p><strong>Observações: </strong>{{=paciente['observacoes']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<a href="{{=URL('cadastro', vars={'editar': paciente['id']})}}" class="btn btn-default" role="button"><span class="icon pen icon-pencil glyphicon glyphicon-pencil">Editar</span></a>
					<a href="{{=URL(c='agendamento', f='agendar', args=paciente['id'])}}" class="btn btn-default" role="button"><span class="icon plus icon-plus glyphicon glyphicon-plus">Agendar</span></a>
				</div>
			</div>
		</div>
	</div>
	<div id="target">
	</div>
</div>

